.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc6e159;
  padding: 0.6rem 1rem 0.6rem 1.6rem;
  margin-inline: auto;
  margin-block: 1rem;
  width: 100%;
  border-radius: 28px;
  gap: 1rem;
  position: relative;
}

.header-btn  {
  min-width: 2.4rem;
  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.icon:hover:before{
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.075);
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 10rem;
  z-index: -1;
}

.profile-picture-container {
  color: #fff;
  background-color: var(--primary-color);
}

.profile-picture-container img{
  border-radius: 10rem;
}

.form-filter-container {
  width: 100%;
}

.form-filter-container input {
  border: none;
  background: transparent;
  width: 100%;
  color: #fff;
}

.form-filter-container input::placeholder {
  color: #ccc6e159;
}

.form-filter-container input:focus {
  outline: 0px solid;
  outline-offset: 0px;
}

.search-icon{
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-btn {
    font-size: medium;
  }

  .header-container {
    border-bottom: 1px solid #ccc6e151;
    border-radius: 0px;
    margin-block: 0px;
    margin-bottom: 0.8rem;
    gap: 1rem;
    padding: 0.8rem;
    background-color: transparent;
    justify-content: flex-start;
  }

  .form-filter-container{
    display: flex;
    background-color: rgba(241,243,244,.24);
    width: 50%;
    margin-right: auto;
    border-radius: 0.8rem;
    max-width: 75rem;
  }

  .search-icon{
    width: 40px;
    margin-inline: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .form-filter-container input{
    line-height: 3;
    font-size: 1.6rem;
    font-weight: 500;
    /* padding-left: 1rem; */
  }

  .icon {
    margin-inline: 1.5rem;
  }

  .profile-picture-container{
    margin: 0px;
    margin-right: 2rem;
    width: 3.2rem;
    height: 3.2rem;
  }
}