body {
  background-color: var(--background-color);
  color: #ccc6e1;
  height: 100vh;
  overflow: hidden;
}

.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.dashboard-container {
  height: 100%;
  display: flex;
  gap: 2rem;
}

.all-notes-container{
  overflow: scroll;
  max-height: 100%;
  padding-bottom: 12vh;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .all-notes-container.one-column-width{
    width: 80%;
    margin-inline: auto;
  }
}

.all-notes-container::-webkit-scrollbar{
  display: none;
}