body {
  background-color: var(--background-color);
  color: #ccc6e1;
  height: 100vh;
  overflow: hidden;
}

.home-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.dashboard-container {
  display: flex;
  gap: 2rem;
}