.note {
  border: 1px solid;
  border-radius: 8px;
  padding: 0rem 1.6rem 0.6rem 1.6rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  user-select: none;
  background-color: #202124;
  break-inside: avoid;
  cursor: auto;
  max-height: 50vh;
}

.close-note-btn{
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;
  color: #ffffffd0;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  padding-inline: 2.4rem;
  font-weight: 500;
}

.close-note-btn:hover{
  background-color: #ffffff15;
}

.ampliable-note .close-note-btn{
  display: none;
}

.amplified-note .close-note-btn{
  display: block;
}

.note p{
  cursor: default;
}

.note input[type="text"]{
  cursor: default;

}

.note-text::-webkit-scrollbar{
  width: 0px;
}

.amplified-note > .note-text::-webkit-scrollbar{
  width: 0.8rem;
  position: absolute;
}

.amplified-note > .note-text::-webkit-scrollbar-thumb{
  background-color: #afafb0;
  cursor: pointer;
  border-radius: 0.3rem;
}

.ampliable-note{
  border: 1px solid var(--border-color);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  left: -1px;
  top: -1px;

  /* if you want to make the animation activate these properties but need to change the mansory notes layout 
  for one made with javasctip and display flex and not columns, because columns make the notes transition slow 
  if they were rendered by react, dont know why */
  /* transition: all 0.4s ease; */
}

.ampliable-note:hover {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.amplified-note{
  z-index: 3;
  padding: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  height: auto;
  max-width: 60rem;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  max-height: 90vh;
  
  /*withouth the note animation*/
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  position: fixed;
}

.amplified-note input[type="text"]{
  cursor: text;
}

.amplified-note p{
  cursor: text;

}

.note-buttons-container{
  display: none;
  margin-left: -1rem;
  /* transition: all 0.2s ease; */
}

.note-action-button{
  border-radius: 5rem;
  min-width: 3.6rem;
  height: 3.6rem;
  margin-inline: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.note-action-button:hover{
  background-color: #ffffff1d;
}

.select-note-icon{
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 5rem;
  left: -2.4rem;
  top: -0.8rem;
  opacity: 0;
  /* transition: opacity 0.2s ease; */
  padding: 0.1rem;
  cursor: pointer;
  position: relative;
}

.file-note-icon{
  width: 3rem;
  height: 3rem;
  position: relative;
  right: 0.8rem;
  top: 1.4rem;
  opacity: 0;
  /* transition: background 0.2s ease; */
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 3rem;
  position: absolute;
}

.file-note-icon:hover{
  background-color: #ffffff17;
}

@media only screen and (max-width: 600px) {
  .note{
    padding: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  
  .note-buttons-container{
    margin-top: 1rem;
    display: flex;
    opacity: 0;
  }
  
  .ampliable-note:hover .note-buttons-container{
    opacity: 1;
  }

  .ampliable-note:hover .file-note-icon{
    opacity: 1;
  }
  
  .ampliable-note:hover .select-note-icon{
    opacity: 1;
  }

  .note-buttons-container svg{
    fill: #979899;
    width: 1.8rem;
  }
}

.note.amplified-note .file-note-icon{
  margin-left: auto;
  top: 1rem;
  right: 1rem;
  opacity: 1;
}

.note.amplified-note b{
  font-size: 2rem;
}

.note.amplified-note .select-note-icon{
  pointer-events: none;
}

.note.amplified-note .note-buttons-container{
  opacity: 1;
}

  
.note.amplified-note .select-note-icon{
  display: none;
}

.note-text{
  margin-top: 1rem;
  overflow-y: hidden;
  font-size: 1.6rem;
  padding-right: 1rem;
}

.amplified-note .note-text{
  overflow-y: scroll;
}

.note-text p:focus{
  outline: none;
}

.invisible-note{
  color: transparent;
  position: relative;
}
.invisible-note > input{
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.invisible-note > textarea{
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}


.amplified-note-background{
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #202124ae;
  width: 100%;
  height: 100vh;
}

.note-top-icons{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.note-title{
  background-color: transparent;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1.8rem;
}

.note-title:focus{
  outline: none;
}