.note {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1.6rem 1.6rem 0.6rem 1.6rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  position: relative;
}

.note-buttons-container{
  display: none;
  margin-left: -1rem;
  transition: all 0.2s ease;

}

.note-action-button{
  border-radius: 5rem;
  min-width: 3.6rem;
  height: 3.6rem;
  margin-inline: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.note-action-button:hover{
  background-color: #ffffff1d;
}

.select-note-icon{
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 5rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  opacity: 0;
  transition: all 0.2s ease;
  padding: 0.1rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .note{
    padding: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  
  .note-buttons-container{
    margin-top: 1rem;
    display: flex;
    opacity: 0;
  }
  
  .note:hover .note-buttons-container{
    opacity: 1;
  }

  .note:hover .select-note-icon{
    opacity: 1;
  }

  .note-buttons-container svg{
    fill: var(--border-color);
    width: 2rem;
  }
}