.note {
  border: 1px solid red;
  border-radius: 8px;
  padding: 0rem 1.6rem 0.6rem 1.6rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  user-select: none;
  background-color: #202124;
  break-inside: avoid;
}

.ampliable-note{
  border: 1px solid var(--border-color);
  transition: all 1s linear;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ampliable-note:hover {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.note-buttons-container{
  display: none;
  margin-left: -1rem;
  transition: all 0.2s ease;

}

.note-action-button{
  border-radius: 5rem;
  min-width: 3.6rem;
  height: 3.6rem;
  margin-inline: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.note-action-button:hover{
  background-color: #ffffff1d;
}

.select-note-icon{
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 5rem;
  left: -2.4rem;
  top: -0.8rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  padding: 0.1rem;
  cursor: pointer;
  position: relative;
}

.file-note-icon{
  width: 3rem;
  height: 3rem;
  position: relative;
  right: -1rem;
  top: 0.8rem;
  opacity: 0;
  transition: background 0.2s ease;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 3rem;
}

.file-note-icon:hover{
  background-color: #ffffff17;
}

@media only screen and (max-width: 600px) {
  .note{
    padding: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  
  .note-buttons-container{
    margin-top: 1rem;
    display: flex;
    opacity: 0;
  }
  
  .ampliable-note:hover .note-buttons-container{
    opacity: 1;
  }

  .ampliable-note:hover .file-note-icon{
    opacity: 1;
  }
  
  .ampliable-note:hover .select-note-icon{
    opacity: 1;
  }

  .note-buttons-container svg{
    fill: #979899;
    width: 1.8rem;
  }
}

.note.amplified-note{
  z-index: 3;
  left: 20px;
  width: 100vw;
  max-width: 60rem;
  background-color: red;
}

.note.amplified-note .file-note-icon{
  margin-left: auto;
  top: 0;
  right: 0;
  opacity: 1;
}

.note.amplified-note b{
  font-size: 2rem;
}

.note.amplified-note .select-note-icon{
  pointer-events: none;
}

.note.amplified-note .note-buttons-container{
  opacity: 1;
}

  
.note.amplified-note .select-note-icon{
  display: none;
}

.note-text{
  margin-top: 1rem;
  word-wrap:break-word
}

.invisible-note{
  /* border: none; */
  color: transparent;
  position: relative;
}

.amplified-note-background{
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #202124ae;
  width: 100%;
  height: 100vh;
}

.note-top-icons{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

