.menu-category {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1.5rem;
  border-radius: 3rem;

}

.categories-list li {
  list-style: none;
}

.menu-category:hover{
  background-color: rgba(255, 255, 255, 0.125);
  cursor: pointer;
}

.menu-category h2 {
  font-weight: 600;
  white-space: nowrap;
  user-select: none;
  text-overflow: ellipsis;
  margin-left: 1.2rem;
}

.menu-category.selected {
  background-color: var(--light-primary-color);
}

.category-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(2.1rem, 3.2vw, 2.4rem);
  min-width: 2.1rem;
}

@media only screen and (min-width: 768px) {
  .menu-category{
    border-radius: 0px 3rem 3rem 0px;
    margin-bottom: 0rem;
    overflow: hidden;
    padding: 1.2rem 2.2rem;
    transition: all 0.3s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
  }

  .category-icon-container{
    min-width: 24px;
  }

}