/* mansory layout */
.notes-container {
  columns: 2;
  gap: 1rem;
}

.notes-container > div {
  break-inside: avoid;
}

.section-title {
  letter-spacing: 0.2rem;
  font-weight: 500;
  line-height: 4;
}
