/* mansory layout */
.notes-container {
  /* columns: 6 115px; just another way to make columns responsive, but shrinks the text too much */
  columns: 2;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .notes-container {
    columns: 3;
  }
}
@media only screen and (min-width: 992px) {
  .notes-container {
    columns: 4;
  }
}
@media only screen and (min-width: 1200px) {
  .notes-container {
    columns: 5;
  }
}

.notes-container.one-column{
  columns: 1;
}

.notes-container > div {
  break-inside: avoid;
}

.section-title {
  letter-spacing: 0.2rem;
  font-weight: 400;
  line-height: 4;
  padding-left: 1.6rem;
}
