* {
  font-family: 'Roboto', sans-serif;
}

html {
  --primary-color: #654eb0;
  --light-primary-color: #654eb087;
  --light-color: #ccc6e1;
  --secondary-color: #101935;
  --strong-color: #564787;
  --background-color: #202124;
  --border-color: #ccc6e19d;
}
