html {
  /* reset rem to 10 px*/
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video,
svg {
  width: 100%;
}

h1 {
  font-size: clamp(2.2rem, 4vw, 3rem);
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

p, b{
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}