html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3vh;
}
p {
  font-size: 2vmin;
}
