html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video,
svg {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: calc(1rem + 1.5vw);
}

@media (min-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: calc(1rem + 0.5vw);
  }
}

p,
b {
  font-size: calc(1rem + 0.5vw);
  line-height: 1.4;
}
/* 
h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3vh;
}
p {
  font-size: 1rem;
} */
